@use "../../vars.scss" as *;

.portfolio {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    animation: 1s ease spreadPort;
    width: 90vw;
    border-radius: 1rem;
    background-color: whitesmoke;
    box-shadow: 0 0.5rem 0.7rem 0.5rem lightgray, 0 0 0.5rem 0.2rem lightgray inset;
    &__title {
    animation: 0.5s ease fade-in; 
    }
}

@keyframes spreadPort {

    0%{width: 0;
        height:0;}
    100%{width:90vw; height:70vh;}  
}

a {
    text-decoration: none;
    background: none;
}

.portfolio__project {

    display: grid;
    grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr;
    grid-template-columns: 0.5fr;
    border-radius: 1rem;
    background-color: rgb(235, 232, 232);
     box-shadow: 0 0.5rem 0.7rem 0.5rem lightgray inset, 0 0 0.5rem 0.2rem lightgray;
    border-top: none;
    border-bottom: none;
    animation: 1.2s ease fade-in;
}

.portfolio__project-img {
    border-radius: 0.5rem;
}

@media screen and (min-width:320px) {

    .portfolio {
        border: none;
        margin: 0;
        padding: 0;
        flex-direction: column;
        align-items: center;
        animation: none;
    }

        .portfolio__title {
            font-size: 2rem;
            background: none;
            u{ 
                text-underline-offset: 1rem;
                font-size: 2rem;
            }
        }
        .portfolio__project {
            
            background-color: rgb(235, 232, 232);
            margin: 1.2rem;
            padding: 0.25rem;

        }
        .portfolio__project-img {
            background: none;
            max-width: 10rem;
        }
        .portfolio__project-title {
            background: none;
            grid-row: 2;
            font-size: 1.5rem;
        }

        .portfolio__project-tagline {
            grid-row: 3;
            font-size: 1rem;
            font-style: italic;
            background: none;
        }
        .portfolio__button-wrapper {
            grid-row: 4;
            background: none;
        }
        .portfolio__button {
            width: 4rem;
            height: 2rem;
            border-radius: 0.5rem;
            background-color: whitesmoke;
            box-shadow: 0 0.5rem 0.7rem 0.5rem lightgray, 0 0 0.5rem 0.2rem lightgray inset;
            border: none;
            margin: 0.2rem;
            transition: background-color 0.3s ease;

            &:hover{
                background-color: rgb(235, 232, 232);
                box-shadow: 0 0.5rem 0.7rem 0.5rem lightgray inset, 0 0 0.5rem 0.2rem lightgray;

            }
        }
        
           
}
@media screen and (min-width:768px) {

    .portfolio {
        
    flex-direction: row;
    animation: 1s ease spreadPort;
    }
        .portfolio__title {
            font-size: 3rem;
            u{ 
                margin: 0;
                font-size: 3rem;
            }
        }
        .portfolio__project {

            margin: 1.5rem;
            padding: 0.5rem;

        }
        .portfolio__project-img {

            max-width: 10rem;
        }

        .portfolio__project-title {
        }

        .portfolio__project-tagline {
        }
        .portfolio__button-wrapper {
        }
        
    
}
@media screen and (min-width:1024px) {

        .portfolio__title {
        font-size: 4rem;
        u{ 
            margin: 0;
            font-size: 4rem;
        }
    }
    .portfolio__project {

            margin: 2rem;
            padding: 1rem;

        }
        .portfolio__project-img {

                max-width: 15rem;
            }

        .portfolio__project-title {
            font-size: 2rem;
            margin-top: 0.5rem;
        }

        .portfolio__project-tagline {
            font-size: 1rem;
            margin-top: 0.5rem;
        }
        .portfolio__button-wrapper {
            margin-top: 0.5rem;
        }
    
}