@use "../_vars.scss" as *;

.home {

    border-color: $sec-col;
    margin: 1rem;
    
}

@media screen and (min-width:320px) {

        .home__title {
            font-size: 2rem;
            font-family: "Cormorant";
            u{ 
                text-underline-offset: 1rem;
                font-size: 2rem;
            }
        }
        .home__languages-list {            
            margin-top: 1rem;
            list-style-type: square;
            .home__languages-listitem {
                font-size: 1rem;
            }
        }    
}
@media screen and (min-width:768px) {

        .home__title {
            font-size: 3rem;
            u{ 
                margin: 0;
                font-size: 3rem;
            }
        }
        .home__languages-list {            
            margin-top: 2rem;
            .home__languages-listitem {
                font-size: 1.5rem;
            }
        } 
    
}
@media screen and (min-width:1024px) {

        .home__title {
        font-size: 4rem;
        u{ 
            margin: 0;
            font-size: 4rem;
        }
    }
    
}



