@use "../_vars.scss" as *;

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: right;
    
}

.name {

    font-family: "Cormorant";
}
.navbar__link {
    text-decoration: none;
}

@media screen and (min-width:320px) {
    .navbar__link {
    background: none;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}
}
@media screen and (min-width:768px) {
    .navbar__link {
    background: none;
    margin-left: 2rem;
    margin-right: 2rem;
}
}

@media screen and (min-width:1024px) {
    .navbar__link {
    background: none;
    margin-left: 3rem;
    margin-right: 3rem;
}
}



